<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car</title>
</head>
<body>
    <div>
    <table border="1">
        <tr>
            <th>Model</th>
            <th>Drivetrain</th>
            <th>Series</th>
        </tr>

        <tr th:each="car : ${cars}">
        <td th:text="${car.getModel()}">Model</td>
        <td th:text="${car.getDriveTrain()}">Drivetrain</td>
        <td th:text="${car.getSeries()}">Series</td>
        </tr>
    </table>
        <div>
</body>
</html>